# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Bytecode and compiled files
__pycache__/
*.py[cod]
*.pyo

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs, coverage, and test caches
*.log
.coverage
htmlcov/
.cache/
pytest_cache/

# Alembic migrations (if not manually managed)
migrations/

# Ignore local SQLite test database
test.db
